<a href="https://colab.research.google.com/github/yusra011/practicePy/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python follows LEGB(Local scope,Enclosing Tag,Global scope,Built in scope

In [ ]:
def outer():
  first=100
  def inner():
    global first #global keyword is used to make changes to a global variable inside a function
    first=300
    second=200
    print(first)
    print(second)
  inner()
#print(second)  it will throw an error
print(first)
outer()

300
300
200

In [ ]:
x=300
def a():
  def b():
    x=200
    print(x)
  b()
  print(x)
a()
print(x)

200
300
300

#Global Keyword

In [ ]:
greeting="Hello"
def change_global(name):
  global greeting
  greeting=name
def greet():
  print(greeting,'world')
change_global('Hi')
greet()

Hi world

In [ ]:
def outer():
  first=1
  def inner():
    first=2
    second=3
    print(first+second)
  inner()
  print(first)
outer()

5
1

#Non-Local Keyword(it will prevent the variable from trying to bind locally first, and force it to go a level 'higher up'.)

In [ ]:
def outer():
  first=100
  def inner():
    nonlocal first
    first=200
    second=200
    print(first)
    print(first+second)
  def inner2():
    nonlocal first
    first=300
    third=300
    print(first)
    print(first+third)
  inner2()
  inner()
  print(first)
outer()
print(first)

300
600
200
400
300
200

In [ ]:
def outer():
  x=1
  def inner():
    #nonlocal x
    x=2
    print(x)
  inner()
  print(x)
outer()

2
1

#ENCAPSULATION
private members are preceded by '__'(double underscore)
protected members are preceded by '_'(single underscore)

1) What is Encapsulation in Python?

Encapsulation in Python is the process of wrapping up variables andmethods into a single entity. In programming, a class is an example that wraps all the variables and methods defined inside it.



2) How can we achieve Encapsulation in Python?

In Python, Encapsulation can be achieved using Private and Protected Access Members.



3) How can we define a variable as Private?

In Python, Private variables are preceded by using two underscores.



4) How can we define a variable as Protected?

In Python, Protected variables are preceded by using a single underscore.

In [ ]:
class Rectangle:
  __length=0#private member
  __breadth=0#private member
  _side=100#protected member
  def __init__(self):
    self.__length=100
    self.__breadth=100
    print(self.__length,self.__breadth)
class Area(Rectangle):
  def area(self):
    ar=self._side*self._side
    print(ar)
  
rect=Area()
rect.area()

#rect.__length this will throw an error because we are accessing a private member outer a class
#rect.__breadth

100 100
10000

In [ ]:
class Laptop:
    def __init__(self,price):
        self._price=price
    def get_price(self):
        return self._price
    def set_price(self,price):
        self._price=price
laptop=Laptop(3499)
print(laptop.get_price())
laptop.set_price(3999)
print(laptop.get_price())

3499
3999

**IMPORTANT

In [ ]:
class Laptop1:
  def __init__(self,price):
    self.price=price
  def get_price(self):
    return self.price
  def set_price(self,value):
    if not isinstance(value,(int,float)):
      raise TypeError('Value must be int or float')
    print(self.value)
laptop1=Laptop1(3400)
print(laptop1.get_price())
#laptop1.set_price('hi')
#print(laptop1.get_price()) OR
try:
  laptop1.set_price('hi')
except TypeError as error:
  print(error)

3400
Value must be int or float

#DECORATORS IN PYTHON
(it is also called as metaprogramming,as a part of program tries to modify another part of program at compile time)

In [ ]:
def make_decorator(func):
  def inner_f():
    print('I got decorated')
    func()
  return inner_f()
def simple_f():
  print('I am a simple func')
decor=make_decorator(simple_f)

I got decorated
I am a simple func

In [ ]:
#above program can also be written as:
def make_decorator(func):
  def inner_f():
    print('I got decorated')
    func()
  return inner_f()
@make_decorator
def simple_f():
  print('I am a simple func')

simple_f

I got decorated
I am a simple func

#Python @property decorator
property(fget,fset,fdel,doc)

#fget()

In [ ]:
class Person:
    def __init__(self,first_name):
        self._first_name=first_name
    def get_first_name(self):
        return self._first_name
    first_name=property(fget=get_first_name)
person=Person('John')
print(person.first_name)

#fget(),fset()

In [ ]:
class Person:
  def __init__(self,first_name):
    self._first_name=first_name
  def get_first_name(self):
    return self._first_name
  def set_first_name(self,name):
     self._first_name=name
  first_name=property(fget=get_first_name,fset=set_first_name)
person=Person('John')
print(person.first_name)
person.set_first_name('Mike')
print(person.first_name)

John
Mike

#fget(),fset(),fdel()

In [ ]:
class Person:
  def __init__(self,first_name):
    self._first_name=first_name
  def get_first_name(self):
    return self._first_name
  def set_first_name(self,name):
     self._first_name=name
  def del_first_name(self):
    del self._first_name
  first_name=property(fget=get_first_name,fset=set_first_name,fdel=del_first_name)
person=Person('John')
print(person.first_name)
print(person.__dict__)
person.set_first_name('Mike')
print(person.first_name)
print(person.__dict__)
person.del_first_name()
print(person.__dict__)
#print(person.first_name)

John
{'_first_name': 'John'}
Mike
{'_first_name': 'Mike'}
{}

In [ ]:
class Person1:
  def __init__(self,first_name,last_name):
    self._first_name=first_name
    self._last_name=last_name
  def get_first_name(self):
    return self._first_name
  def get_last_name(self):
    return self._last_name
  def set_first_name(self,value):
    self._first_name=value 
  def set_last_name(self,value):
    self._last_name=value 
  first_name=property(fget=get_first_name,fset=set_first_name)
  last_name=property(fget=get_last_name,fset=set_last_name)
person1=Person1('John','Doe')
print(person1.first_name)
print(person1.last_name)
person1.set_first_name('Yusra')
person1.set_last_name('khalil')
print(person1.first_name)
print(person1.last_name)
print(person1.__dict__)

John
Doe
Yusra
khalil
{'_first_name': 'Yusra', '_last_name': 'khalil'}

In [ ]:
class Pet:
  def __init__(self,name1):
    self.name1=name1
  def name(self):
    return self.name1
  name_1=property(fget=name)
pet=Pet('Tommy')
print(pet.name_1)
print(pet.__dict__)

Tommy
{'name1': 'Tommy'}

#OR

In [ ]:
class Pet:
  def __init__(self,name1,age):
    self.name1=name1
    self.age=age
  @property
  def name(self):
    return self.name1
  def age(self):
    return self.age
  
pet=Pet('Max',3)
#print(pet.name_1)
print(pet.__dict__)

{'name1': 'Max', 'age': 3}

In [ ]:
class Pet:
  def __init__(self,name1):
    self.name1=name1
  @property
  def name(self):
    return self.name1
  def set_name(self,value):
    self.name1=value
  
pet=Pet('Max')
pet.set_name('Tommy')
#print(pet.name_1)
print(pet.__dict__)

{'name1': 'Tommy'}

In [ ]:
class Pet:
  def __init__(self,name1,age):
    self.name1=name1
    self.age=age
  @property
  def name(self):
    return self.name1
  def age(self):
    return self.age
  def set_name_age(self,value1,value2):
    self.name1=value1
    self.age=value2

  
pet=Pet('Max',3)
print(pet.__dict__)
#print(pet.name_1)
pet.set_name_age('Tommy',8)
print(pet.__dict__)

{'name1': 'Max', 'age': 3}
{'name1': 'Tommy', 'age': 8}

In [ ]:
class Pet1:

    def __init__(self, name, age):
        self._name = name
        self._age = age

    @property
    def name(self):
        return self._name

    @name.setter
    def name(self, value):
        self._name = value

    @property
    def age(self):
        return self._age

    @age.setter
    def age(self, value):
        if not isinstance(value,int):
            raise TypeError('The value of age must be type int')
        if not value>0:
          raise ValueError('The value of age must be positive')
        self._age = value

try:
    pet1=Pet1('Max','Tommy')
except TypeError as error:
    print(error)
except ValueError as error:
  print(error)
print(pet1.name,pet1.age)

Max Tommy

In [ ]:
class Pet2:

    def __init__(self, name, age):
        self._name = name
        self.age = age

    @property
    def name(self):
        return self._name

    @name.setter
    def name(self, value):
        self._name = value

    @property
    def age(self):
        return self._age

    @age.setter
    def age(self, value):
        if not isinstance(value, int):
            raise TypeError('The value of age must be of type int.')
        if not value > 0:
            raise ValueError('The value of age must be a positive integer.')
        self._age = value
try:
    pet2 = Pet2('Max','-10')
except TypeError as error:
    print(error)
except ValueError as error:
    print(error)

The value of age must be of type int.

In [ ]:
class TechStack:
 
    def __init__(self, tech_names):
        self._tech_names = tech_names
 
    @property
    def tech_names(self):
        return self._tech_names
 
    @tech_names.setter
    def tech_names(self, value):
        self._tech_names = value
 
    @tech_names.deleter
    def tech_names(self):
        del self._tech_names
 
        
tech_stack = TechStack('python,java,sql')
print(tech_stack.tech_names)
 
tech_stack.tech_names = 'python,sql'
print(tech_stack.tech_names)
 
del tech_stack.tech_names
print(tech_stack.__dict__)

python,java,sql
python,sql
{}


**Implement a class Game that has a property named level (read and modify property, defaults to 0). The value of the level attribute should be an integer in the range [0, 100]. Add validation at the instance creation and attribute modification stage. If the value is not of the int type, report a TypeError with the following message:

'The value of level must be of type int.'

If the value is outside the range [0, 100], set the exceeded boundary value (0 or 100 respectively). Then create a list called games consisting of four instances of the Game class:

games = [Game(), Game(10), Game(-10), Game(120)]
Iterate through the games list and print the value of each instance's level attribute.

Expected result:

0
10
0
100

In [ ]:
class Game:
 
    def __init__(self, level=None):
        self.level = level if level else 0
 
    @property
    def level(self):
        return self._level
 
    @level.setter
    def level(self, value):
        if not isinstance(value, int):
            raise TypeError('The value of level must be of type int.')
        if value < 0:
            self._level = 0
        elif value > 100:
            self._level = 100
        else:
            self._level = value
 
 
games = [Game(), Game(10), Game(-10), Game(120)]
for game in games:
    print(game.level)

In [ ]:
import math
class Circle:
    def __init__(self, radius):
        self.radius = radius
        self._area = None
 
    @property
    def radius(self):
        return self._radius
 
    @radius.setter
    def radius(self, value):
        self._radius = value
        self._area = None
 
    @property
    def area(self):
        if self._area is None:
            self._area = math.pi * self._radius * self._radius
        return self._area
 
 
circle = Circle(3)
print(f'{circle.area:.4f}')

28.2743

In [ ]:
import math


class Circle:
    def __init__(self, radius):
        self.radius = radius
        self._perimeter = None

    @property
    def radius(self):
        return self._radius

    @radius.setter
    def radius(self, value):
        self._radius = value
        self._perimeter = None

    @property
    def perimeter(self):
        if self._perimeter is None:
            self._perimeter = 2* math.pi * self._radius
        return self._perimeter
circle = Circle(3)
print(f'{circle.perimeter:.4f}')

18.8496

In [ ]:
class Rectangle:
    def __init__(self,width,height):
        self.width=width
        self.height=height
    def area(self):
        area=self.width*self.height
        return area
rect=Rectangle(3,4)
print('width:',rect.width,',','height:',rect.height,',','area->',rect.area())

width: 3 , height: 4 , area-> 12

In [ ]:
#Another way
class Rectangle:
 
    def __init__(self, width, height):
        self.width = width
        self.height = height
        self._area = None
 
    @property
    def width(self):
        return self._width
 
    @width.setter
    def width(self, value):
        self._width = value
        self._area = None
 
    @property
    def height(self):
        return self._height
 
    @height.setter
    def height(self, value):
        self._height = value
        self._area = None
 
    @property
    def area(self):
        if self._area is None:
            self._area = self._width * self._height
        return self._area
 
 
rectangle = Rectangle(3, 4)
print(f'width: {rectangle.width}, height: {rectangle.height} -> area: {rectangle.area}')

width: 3, height: 4 -> area: 12

In [ ]:
class Rectangle:

    def __init__(self, width, height):
        self.width = width
        self.height = height
        self._perimeter = None

    @property
    def width(self):
        return self._width

    @width.setter
    def width(self, value):
        self._width = value
        self._perimeter = None

    @property
    def height(self):
        return self._height

    @height.setter
    def height(self, value):
        self._height = value
        self._perimeter = None

    @property
    def perimeter(self):
        if self._perimeter is None:
            self._perimeter = 2*(self._width + self._height)
        return self._perimeter
rect=Rectangle(3,4)
print(f'width: {rect.width}, height: {rect.height} -> perimeter: {rect.perimeter}')

width: 3, height: 4 -> perimeter: 14

In [ ]:
class Person:
 
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname
 
    def __repr__(self):
        #rep='Person(fname=',self.fname,',lname=',self.lname,')'
        return  f"Person(fname='{self.fname}', lname='{self.lname}')"
 
 
person = Person('Anam', 'Khalil')
print(person)

Person(fname='Anam', lname='Khalil')

#classmethod()

In [ ]:
class Person:
    @classmethod
    def show_details(cls):
        print(f"Running from {cls.__name__} class")
Person.show_details()

Running from Person class

#find the number of instances of class using classmethod decorator

In [ ]:
class Person:
  instances=[]
  def __init__(self):
    Person.instances.append(self)
  
  @classmethod
  def count_instances(cls):
    return len(Person.instances)
p1=Person()
p2=Person()
p3=Person()
print(Person.count_instances())

3

In [ ]:
class Person:
 
    instances = []
 
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name
        Person.instances.append(self)
    
    @classmethod
    def count_instances(cls):
        return len(Person.instances)
 
 
person1 = Person('John', 'Doe')
person2 = Person('Mike', 'Smith')
#person3=Person('Yusra','Khalil')
print(Person.count_instances())#instance of Person class
print(person1.count_instances())

2
2

#@staticmethod decorator
(Static methods, much like class methods, are methods that are bound to a class rather than its object.

They do not require a class instance creation. So, they are not dependent on the state of the object.)

In [ ]:
import datetime
class container:
      def __init__(self):
        now=datetime.datetime.now()
        print(now)
c=container()

2021-05-21 16:04:30.920930

In [ ]:
import time
 
 
class Container:

    def get_current_time():
        return time.strftime('%H:%M:%S', time.localtime())
 
    
print(Container.get_current_time())

16:07:18

In [ ]:
#Example 1: Create a static method using staticmethod()
class Mathematics:

    def addNumbers(x, y):
        return x + y

# create addNumbers static method
Mathematics.addNumbers = staticmethod(Mathematics.addNumbers)

print('The sum is:', Mathematics.addNumbers(5, 10))

The sum is: 15

#Inheritance

In [ ]:
class Container:
    pass


class PlasticContainer(Container):
    pass


class MetalContainer(Container):
    pass


class CustomContainer:
    pass
print(issubclass(PlasticContainer,Container))
print(issubclass(MetalContainer,Container))
print(issubclass(CustomContainer,Container))

True
True
False

#MRO(Method resolution Order)-
https://www.educative.io/edpresso/what-is-mro-in-python

In [ ]:
class Container:
    pass


class PlasticContainer(Container):
    pass


class MetalContainer(Container):
    pass


class SmallPlasticContainer(PlasticContainer):
    pass
print(SmallPlasticContainer.mro())

[<class '__main__.SmallPlasticContainer'>, <class '__main__.PlasticContainer'>, <class '__main__.Container'>, <class 'object'>]

#Function used with array:
append()
extend()-to extend all the elements of list to another list
insert()
remove()
pop()
clear()
count()
sort()
reverse()
copy()

In [ ]:
list1=['goa','patna','delhi','mumbai','lucknow','chennai']
print(list1)
list1.remove('patna')#delete a/c to value provided
print(list1)
list1.pop(3)#delete a/c to index number
print(list1)

['goa', 'patna', 'delhi', 'mumbai', 'lucknow', 'chennai']
['goa', 'delhi', 'mumbai', 'lucknow', 'chennai']
['goa', 'delhi', 'mumbai', 'chennai']

In [ ]:
list2=[1,2,3,4,5,6]
print(list2*3)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [ ]:
fruits=["banana","apple","guava","orange","pineapple"]
print(fruits[2:])#display elements excluding 2nd element
print(fruits[:3])#display element including 3rd element
print(fruits[1:4])#it excludes 1st element but includes the 4th element
print(fruits[:-1])#it excludes -1(opposite of what we get while providing positive val)
print(fruits[-1:])#it includes -1
print(fruits[:-2])

['guava', 'orange', 'pineapple']
['banana', 'apple', 'guava']
['apple', 'guava', 'orange']
['banana', 'apple', 'guava', 'orange']
['pineapple']
['banana', 'apple', 'guava']

In [ ]:
multd=[[1,2],[3,4],[5,6],[7,8]]
print(multd)
print(multd[0])
print(multd[3][1])

[[1, 2], [3, 4], [5, 6], [7, 8]]
[1, 2]
8

#File Methods
close(),detach(),fileno(),flush(),isatty(),read(n)->read until 'n' character and if nothing is provided then read till end of file.,readable(),write() etc

#KEYWORDS IN PYTHON

In [73]:
#assert keyword checks if the condition is true.If the cond is true,nothing will happen.
#If it is false then error is raised.It is used while debugging as it halts the program if any error occur and show the point at which error occured
assert 5>4
#we can write a msg if an assertion occur
#assert 5<4,'5 is greater than 4'

x=int(input('Enter first number:'))
y=int(input('Enter second number:'))
assert y!=0,'ZeroDivisionError'
x/y
print(x/y)

Enter first number:12
Enter second number:6
2.0

In [ ]:
#continue & break keyword
for i in range(1,11):#exclude 11
  if i==5:#skips to print i=5
    continue
  print(i)
"""for j in range (1,11):
  if j==6:
    break
  print(j)"""

1
2
3
4
6
7
8
9
10

'for j in range (1,11):\n  if j==6:\n    break\n  print(j)'

In [ ]:
x=int(input("Enter number: "))
if x==1:
  print("one")
elif x==2:
  print("two")
else:
  print("other number")

Enter number: 11
other number

In [ ]:
#while defining anonymous function we use lambda keyword
a=lambda x:x*2
for i in range(1,6):
  print(a(i))

2
4
6
8
10

In [ ]:
def outer_f():
  a=5
  def inner_f1():
    nonlocal a
    a=4
    print(a)
  def inner_f2():
    nonlocal a
    a=6
  inner_f1()
  inner_f2()
  print(a)
outer_f()

4
6

#TUPLES
tuples are mostly used to store heterogenous data and it is immutable that's why iterating through tuple is faster.Tuples that contain immutable data can be used as a key for dict.

**function of tuple -->
all(),any(),enumerate(),sorted(),tuple(),min(),max(),sum(),len()

In [ ]:
tuple1=(1,2,4,3,0)
print(sorted(tuple1))
print(sum(tuple1))
print(min(tuple1))
print(max(tuple1))
#print(enumerate(tuple1))

[0, 1, 2, 3, 4]
10
0
4
<enumerate object at 0x7f099e46d050>

In [ ]:
#nesting of tuple
tuple2=([1,2,3],(4,5,6),"yusra")
print(tuple2)
print(tuple2[2][3])#r
print(tuple2[0][2])#3

#tuple packing(declaring tuple without paranthesis)
tuple3="yusra","anam",22,19
print(tuple3)
#tuple unpacking i.e extract the values back into variables
prsn1,prsn2,age1,age2=tuple3
print(prsn1)
print(prsn2)
print(age1)
print(age2)
print(type(tuple3))

([1, 2, 3], (4, 5, 6), 'yusra')
r
3
('yusra', 'anam', 22, 19)
yusra
anam
22
19
<class 'tuple'>

In [ ]:
#we can reassign a tuple but can't change data of already assign tuple
tup1=(1,2,3,4,5,6,7)
#tup1[2]=10#error
print(tup1)
tup1=("anam","faraz","yumna")
print(tup1)

(1, 2, 3, 4, 5, 6, 7)
('anam', 'faraz', 'yumna')

In [ ]:
#deletion of tuple
#we cannot delete a particular element of tuple but can del the whole tuple
tup_1=(1,2,3,4,6,8)
#del tup_1[4] #error

del tup_1
#print(tup_1)

In [ ]:
#count and index func
tup__1=('w','e','l','c','o','m','e')
print(tup__1.count('e'))
print(tup__1.index('w'))

#iterating through tuple
for letters in tup__1:
  print("letters in tuple is ->",letters)

2
0
letters in tuple is -> w
letters in tuple is -> e
letters in tuple is -> l
letters in tuple is -> c
letters in tuple is -> o
letters in tuple is -> m
letters in tuple is -> e

#SETS
they are unordered collection of unique items.no duplicate items are allowed.Sets are used to do mathematical operation like union ,intersection,symmetric difference etc.

**Function on sets:
add(),clear(),copy(),difference(),discard(),intersection(),isdisjoint(),issubset()

In [ ]:
set1={1,2,4,4}
print(set1)
set2=set1
print(set2)
#set cannot contain mutable items
#set3={1,2,3,[6,7]}#error
#print(set3)

{1, 2, 4}
{1, 2, 4}

In [ ]:
#we can make list from a set
my_list=list({1,2,3,4})
print(type(my_list))
#we can make set from a list
set__1=set([1,2,3,4])
print(type(set__1))

<class 'list'>
<class 'set'>

In [ ]:
#func on set
#add element to set
set01={2,3,4,5,6}
set01.add(10)
print(set01)
#add multiple elements
set01.update([9,11,12])
print(set01)
#add list and set both
set01.update({13,14,15},[16,17,18])
print(set01)
set01.discard(6) #discard an element which is not present then no error
#set01.remove(6) #remove an element which is not present then key error raised

{2, 3, 4, 5, 6, 10}
{2, 3, 4, 5, 6, 9, 10, 11, 12}
{2, 3, 4, 5, 6, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18}

#Mathematical operation set
union(|)(for combining all elements),
intersection(&)(for common elements

In [ ]:
#use - operator for set difference
set_01={1,2,3,4,5}
set_02={4,5,6,7,8}
print(set_01-set_02)#4&5 will be removed as it is present in set_02 also
print(set_02-set_01)#or print(set_02.difference(set_01))
print(set_02|set_01)#union print(set_01.union(set_02))
print(set_02&set_01)#intersection or print(set_01.intersection(set_02))
print(set_01.symmetric_difference(set_02))#removes the common elements

{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3, 6, 7, 8}

In [ ]:
#iterating through set
for letters in set("welcome"):
  print(letters)

e
l
m
c
w
o

In [ ]:
#sorted() function take the elements of set ,sort them and assign it to a list and return it
set_03={33,55,22,11,99,111,102}
print(sorted(set_03))

[11, 22, 33, 55, 99, 102, 111]

In [ ]:
#python frozenset
#immutable set is call frozenset
myset=frozenset({1,2,3,4,5,7})
#myset.add(8)#it will throw attribute error because frozen set is immutable

#os module of python is used to deal with directory and files

**read more about it**

#DICTIONARY IN PYTHON

In [ ]:
dic1={
    1:'Anam',
    2:'Yusra',
    3:'Shehpar',
    4:'Yumna'
}
print(dic1)
print(dic1.get(1,'nothing'))
print(dic1.items())#return a new view of items
print(dic1.keys())#return a new view of keys or return the keys
dic1.pop(1,'not present')#if the particular key is not present then the msg will display of keyError will raise
print(dic1.popitem())#remove item from end
#print(dic1)

dic1[1]='faraz'
print(dic1)

{1: 'Anam', 2: 'Yusra', 3: 'Shehpar', 4: 'Yumna'}
Anam
dict_items([(1, 'Anam'), (2, 'Yusra'), (3, 'Shehpar'), (4, 'Yumna')])
dict_keys([1, 2, 3, 4])
(4, 'Yumna')
{2: 'Yusra', 3: 'Shehpar', 1: 'faraz'}

In [ ]:
#NESTED DICTIONARY
people={
    1:{'name':'yusra','age':22},
    2:{'name':'anam','age':19}
}
print(people[1]['name'])
print(people[2]['age'])


#iterating through dictionary
for pid,pinfo in people.items():
  print('Person ID:',pid)
  for key in pinfo:
    print(key,':',pinfo[key])

yusra
19
Person ID: 1
name : yusra
age : 22
Person ID: 2
name : anam
age : 19

Adding elements to dictionary

In [ ]:
people[3]={}
people[3]['name']='luna'
people[3]['age']=22
print(people)

{1: {'name': 'yusra', 'age': 22}, 2: {'name': 'anam', 'age': 19}, 3: {'name': 'luna', 'age': 22}}

In [ ]:
square={x:x*x for x in range(1,6)}
print(square)
print(type(square))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
<class 'dict'>

In [ ]:
sq={1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
for i in sq:
  print(sq[i])

1
4
9
16
25

#STRING IN PYTHON
(computer takes the string and convert it into number and is called encoding)

In [ ]:
mystr="""Welcome to the python programming"""
mystrr="""welcome
to the python
programming"""
print(mystr)
print(mystrr)
mystr_enumerate=list(enumerate(mystr))
print(mystr_enumerate)

#for explicit line continuation
abc=1+2+3+\
4+5+6
print(abc)

#using multiple line in one line
e=12;f=13;g=15
print(e,f,g)

Welcome to the python programming
welcome
to the python
programming
[(0, 'W'), (1, 'e'), (2, 'l'), (3, 'c'), (4, 'o'), (5, 'm'), (6, 'e'), (7, ' '), (8, 't'), (9, 'o'), (10, ' '), (11, 't'), (12, 'h'), (13, 'e'), (14, ' '), (15, 'p'), (16, 'y'), (17, 't'), (18, 'h'), (19, 'o'), (20, 'n'), (21, ' '), (22, 'p'), (23, 'r'), (24, 'o'), (25, 'g'), (26, 'r'), (27, 'a'), (28, 'm'), (29, 'm'), (30, 'i'), (31, 'n'), (32, 'g')]
21
12 13 15

In [ ]:
#python
# Python program to illustrate
# enumerate function
#Enumerate() method adds a counter to an iterable and returns it in a form of enumerate object.
#enumerate(iterable, start=0)
l1 = ["eat","sleep","repeat"]
s1 = "geek"
 
# creating enumerate objects
obj1 = enumerate(l1)
obj2 = enumerate(s1)
 
print ("Return type:",type(obj1))
print (list(enumerate(l1)))
 
# changing start index to 2 from 0
print (list(enumerate(s1,2)))

Return type: <class 'enumerate'>
[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]
[(2, 'g'), (3, 'e'), (4, 'e'), (5, 'k')]

In [ ]:
print("Binary representation of {0} is {0:b}".format(20))

Binary representation of 20 is 10100

In [ ]:
count=0
for letter in "hello":
  if letter in 'l':
    count=count + 1
print(count)

2

In [ ]:
str1="welcome all to my world"
print(str1.find('all'))
print(str1.find('All'))#'All' is not present then it will return -1

8
-1

#TYPE CONVERSION IN PYTHON

In [ ]:
#IMPLICIT CONVERSION
a=12
b=12.5
d="world"
c=a+b #int will be converted to float
#e=a+b   error because int and str can be converted into each other
print(c,type(c))

24.5 <class 'float'>

In [ ]:
#EXPLICIT CONVERSION
a=12
b="24"
x=34.2
c=a+int(b)
d=str(a)+b
e=float(a)+float(b)
f=str(x)+b
g=x+float(b)
print(c)
print(d)
print(e)
print(f)
print(g)

36
1224
36.0
34.224
58.2

#NUMBERS IN PYTHON
A floating point is accurate upto 15 decimal places

In [ ]:
#python decimal
data1=0.1+0.3
print(data1)
#or
from decimal import Decimal as D
print(D('0.03')+D('0.05'))

0.4
0.08

to express float numbers in form of fraction

In [ ]:
from fractions import Fraction as f
print(f(0.5))

1/2

In [ ]:
import math
print(math.factorial(5))
import random as r
print(r.randrange(5,15))
print(r.randint(1,32))
li1=['anam',45,'yusra',44,56,78,'aditya']
print(r.choice(li1))
print(r.choices(li1))

120
6
10
yusra
[44]

#NAMESPACES IN PYTHON
built-in,global,local

> the 'is' operator will test whether they are the same object, which for our purposes means they are at the same memory address

In [ ]:
#we can get address of variable in ram throgh id()
a=10
print(id(a))
a=11
print(id(10))
print(id(11))
print(id(a))
a=a+1
print(a)
print(id(a))
print(id(12))
b=10
print(id(b))

a_1=[1,2,3,4]
b_1=a_1
b_1.append(5)
print(id(a_1))
print(id(b_1))
c_1=b_1
print(id(c_1))

94783415139104
94783415139104
94783415139136
94783415139136
12
94783415139168
94783415139168
94783415139104
140359715838304
140359715838304
140359715838304

In [ ]:
def func1():
  x=20
  def func2():
    global x
    x=25
    print(x)
  print("before calling func2:",x)
  func2()
  print("After calling func2:",x)
func1()
print('value of x in main',x)

before calling func2: 20
25
After calling func2: 20
value of x in main 25

#PYTHON ITERATORS
__iter__() and __next__()

In [ ]:
#defining a list and iterating it through iter() func
list1=[1,2,3,4,5,6]
myiter=iter(list1)
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
#print(next(myiter))   Error:stopIteration

1
2
3
4
5
6

In [ ]:
a=[1,2,3,4,5,6,7]
for i in a:
  print(i,end="")
else:
  print("printing completed")

1234567printing completed

#INHERITANCE IN PYTHON

In [ ]:
class penguin:
  def canswim(self):
    print("penguin can swim")
  def canfly(self):
    print("penguin can't fly")
class parrot:
  def canswim(self):
    print("parrot can't swim")
  def canfly(self):
    print("parrot can fly")

def myBirds(bird):
  bird.canswim()
  bird.canfly()
birdParrot=parrot()
birdpenguin=penguin()

myBirds(birdParrot)
myBirds(birdpenguin)

parrot can't swim
parrot can fly
penguin can swim
penguin can't fly

In [ ]:
def sumAll(*args):
  sum=0
  for i in args:
    sum=sum + i
    print(sum)
sumAll(1,2,3,4,5)

1
3
6
10
15

In [ ]:
def sum1(a,b,c):
  '''
    this is a 
    document
  '''
  print("a = {},b={},c={}".format(a,b,c))
sum1(2,3,4)
print(sum1.__doc__)

a = 2,b=3,c=4

    this is a
    document

#Built-in Exception in Python

AssertionError,KeyError,AttributeError,EOFerror,importError,indexError,GeneratorExit(raised when generator's close() method is called),FloatingPointError

In [ ]:
try:
  a="hi"
  b=int(a)
  print(a)
except:
  print("Exception Occured")

Exception Occured

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)
print(x.graduationyear)
x.printname()

2019
Mike Olsen

#GENERATORS IN PYTHON

In [ ]:
def rev_str(my_str):
    length = len(my_str)
    for i in range(length - 1, -1, -1):
        yield my_str[i]


# For loop to reverse the string
for char in rev_str("hello"):
    print(char)

o
l
l
e
h

In [ ]:
def my_gen():
  n=1
  print('this is printed first')
  yield n

  n=n+1
  print('this is printed next')
  yield n

  n=n+1
  print('this is printed next')
  yield n
a=my_gen()
next(a)
next(a)
next(a)
#next(a)   ERROR
 #using for loop

for item in my_gen():
  print(item)

this is printed first
this is printed next
this is printed next
this is printed first
1
this is printed next
2
this is printed next
3

#WHILE LOOP IN PYTHON

In [ ]:
i=3
while i>0:
  print(i)
  i=i-1

3
2
1

In [ ]:
n=6
while n>0:
  k=1
  while k<n:
    print('*',end='')
    k=k+1
  print('\n')
  n=n-1

*****

****

***

**

*

In [ ]:
n=int(input('Enter number of layers'))
i=1
while i<=n:
  j=1
  while j <= n-i:
    print('.',end='')
    j=j+1
  j=1
  while j<= 2*i-1:
    print('*',end='')
    j=j+1
  print()
  i=i+1

Enter number of layers6
.....*
....***
...*****
..*******
.*********
***********

In [ ]:
n=int(input('enter number of layers:'))
m=(n+1)/2
i=1
while i<=n:
  if (i>m):
    b=n-i
    s=2*(i-m)+1
  else:
    b=i-1
    s=2*(m-i)+1
  j=1
  while j<=b:
    print('.',end='')
    j=j+1
  j=1
  while j<=s:
    print('*',end='')
    j=j+i
  print()
  i=i+1

enter number of layers5
*****
.**
..*
.*
*

#MATRIX IN PYTHON
https://www.programiz.com/python-programming/matrix

In [ ]:
#it a matrix because same number of elements
a=[
   ['Ram',80,78,33,56],
   ['Mohan',92,76,87,76],
   ['Aditya',65,87,67,79]
]
print(a)
#it is a nested list not a matrix because diiferent number of elements in diff list
b=[
   ['Ali',80,78,33,56,73,87],
   ['Madan',92,76,87,76,65],
   ['Aditi',65,87,67,79]
]
print(b)

[['Ram', 80, 78, 33, 56], ['Mohan', 92, 76, 87, 76], ['Aditya', 65, 87, 67, 79]]
[['Ali', 80, 78, 33, 56, 73, 87], ['Madan', 92, 76, 87, 76, 65], ['Aditi', 65, 87, 67, 79]]

In [ ]:
#creating dynamic array

n=3
m=4
a=[0]*n
print(a)
for i in range(n):
  a[i]=[0]*m
print(a)

[0, 0, 0]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [ ]:
#Adding Matrix
# Program to add two matrices using nested loop

X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[5,8,1],
    [6,7,3],
    [4,5,9]]

result = [[0,0,0],
         [0,0,0],
         [0,0,0]]

# iterate through rows
for i in range(len(X)):
   # iterate through columns
   for j in range(len(X[0])):
       result[i][j] = X[i][j] + Y[i][j]

for r in result:
   print(r)
len(X)

[22, 23, 5]
[16, 19, 12]
[15, 18, 27]

3

In [ ]:
#Transpose of Matrix
X=[
   [1,2,3],
   [4,5,6],
   [7,8,9]
]
result=[
        [0,0,0],
        [0,0,0],
        [0,0,0]
]
for i in range(len(X)):
  for j in range(len(X[0])):
    result[j][i]=X[i][j]
for r in result:
  print(r)

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

#RegEx in PYTHON
(import re module)

In [29]:
import re
txt='Hi there , I am Yusra Khalil.I am a Masters Student'
print(re.split('\s',txt))
#print(re.search('am',txt))

if re.search('am',txt):
  print('there is an "am"')
else:
  print('not present')

print(re.findall('am',txt))
print()

am=re.findall('am',txt)
count=0
for i in am:
  count=count+1
print("Number of am:",count)

['Hi', 'there', ',', 'I', 'am', 'Yusra', 'Khalil.I', 'am', 'a', 'Masters', 'Student']
there is an "am"
['am', 'am']

Number of am: 2

In [40]:
#finditer -> returns iterator of match object and we can use span() to get the index in tuple format
import re
str1='The ape was at apex'
for i in re.finditer('ape',str1):
  print(i.span())
print()

print('character  start with c,r,m,f,p')
animal='Cat rat mat fat pat'
for j in re.findall('[crmfp]at',animal):#any word containing cat,mat,fat,pat
  print(j)
print()

print('character not start with C & r')
for k in re.findall('[^Cr]at',animal):
  print(k)
print()

print("Replacing all matches")
regex=re.compile('[rmp]at')
newStr=regex.sub('owl',animal)
print(newStr)

(4, 7)
(15, 18)

character  start with c,r,m,f,p
rat
mat
fat
pat

character not start with C & r
mat
fat
pat

Replacing all matches
Cat owl owl fat owl

#LIST COMPREHENSION
IMPORTANT

#print() statement

In [45]:
print(1,2,3,4,5,sep="*")
print(1,2,3,4,5,sep="*",end='#')

1*2*3*4*5
1*2*3*4*5#

In [47]:
"""" For infinite loop
while T:rue
  n=int(input("Enter number :"))
  if n%2==0:
    print('Even number')
  else:
    print('Odd number')
"""

'" For infinite loop\nwhile T:rue\n  n=int(input("Enter number :"))\n  if n%2==0:\n    print(\'Even number\')\n  else:\n    print(\'Odd number\')\n'

#SHALLOW AND DEEP COPY

In [48]:
#using equal operator
old_list=[1,2,3,4,5]
new_list=old_list
print(old_list)
print(new_list)
print(id(old_list))
print(id(new_list))
old_list.append(6)
print(old_list)
print(new_list)
print(id(old_list))
print(id(new_list))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
140378353537744
140378353537744
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
140378353537744
140378353537744

In [53]:
#creating a shallow copy using copy()
import copy
li1=[1,2,3,4,63,43]
li2=copy.copy(li1)
print(li2)
print(li1)
print(li2)
print(id(li1))
print(id(li2))
li1.append(54)
print(li1)
print(id(li1))
print(id(li2))

[1, 2, 3, 4, 63, 43]
[1, 2, 3, 4, 63, 43]
[1, 2, 3, 4, 63, 43]
140378353018192
140378353018032
[1, 2, 3, 4, 63, 43, 54]
140378353018192
140378353018032

In [52]:
import copy
li_1=[13,23,37,42,63,43]
li_2=copy.deepcopy(li_1)
print(li_1)
print(li2)
print(id(li_1))
print(id(li_2))
li_1.append(54)
print(li_1)
print(li_2)
print(id(li_1))
print(id(li_2))

[13, 23, 37, 42, 63, 43]
[1, 2, 3, 4, 63, 43]
140378353421120
140378353421920
[13, 23, 37, 42, 63, 43, 54]
[13, 23, 37, 42, 63, 43]
140378353421120
140378353421920

#LAMBDA FUNCTION

In [62]:
a=lambda x:x*2
print("Lambda function : ",a(10))

list_1=[1,13,12,16,17,92,100,42,34]
filterL=list(filter(lambda x:(x%2==0)  ,list_1))
print(filterL)
new_list1=list(map(lambda i:i*2,list_1))
print(new_list1)

Lambda function :  20
[12, 16, 92, 100, 42, 34]
[2, 26, 24, 32, 34, 184, 200, 84, 68]

#PYTHON CLOSURE