<a href="https://colab.research.google.com/github/yusra011/practicePy/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python follows LEGB(Local scope,Enclosing Tag,Global scope,Built in scope

In [ ]:
def outer():
  first=100
  def inner():
    global first #global keyword is used to make changes to a global variable inside a function
    first=300
    second=200
    print(first)
    print(second)
  inner()
#print(second)  it will throw an error
print(first)
outer()

300
300
200

In [ ]:
x=300
def a():
  def b():
    x=200
    print(x)
  b()
  print(x)
a()
print(x)

200
300
300

#Global Keyword

In [ ]:
greeting="Hello"
def change_global(name):
  global greeting
  greeting=name
def greet():
  print(greeting,'world')
change_global('Hi')
greet()

Hi world

In [ ]:
def outer():
  first=1
  def inner():
    first=2
    second=3
    print(first+second)
  inner()
  print(first)
outer()

5
1

#Non-Local Keyword(it will prevent the variable from trying to bind locally first, and force it to go a level 'higher up'.)

In [ ]:
def outer():
  first=100
  def inner():
    nonlocal first
    first=200
    second=200
    print(first)
    print(first+second)
  def inner2():
    nonlocal first
    first=300
    third=300
    print(first)
    print(first+third)
  inner2()
  inner()
  print(first)
outer()
print(first)

300
600
200
400
300
200

In [ ]:
def outer():
  x=1
  def inner():
    #nonlocal x
    x=2
    print(x)
  inner()
  print(x)
outer()

2
1

#ENCAPSULATION
private members are preceded by '__'(double underscore)
protected members are preceded by '_'(single underscore)

1) What is Encapsulation in Python?

Encapsulation in Python is the process of wrapping up variables andmethods into a single entity. In programming, a class is an example that wraps all the variables and methods defined inside it.



2) How can we achieve Encapsulation in Python?

In Python, Encapsulation can be achieved using Private and Protected Access Members.



3) How can we define a variable as Private?

In Python, Private variables are preceded by using two underscores.



4) How can we define a variable as Protected?

In Python, Protected variables are preceded by using a single underscore.

In [ ]:
class Rectangle:
  __length=0#private member
  __breadth=0#private member
  _side=100#protected member
  def __init__(self):
    self.__length=100
    self.__breadth=100
    print(self.__length,self.__breadth)
class Area(Rectangle):
  def area(self):
    ar=self._side*self._side
    print(ar)
  
rect=Area()
rect.area()

#rect.__length this will throw an error because we are accessing a private member outer a class
#rect.__breadth

100 100
10000

In [ ]:
class Laptop:
    def __init__(self,price):
        self._price=price
    def get_price(self):
        return self._price
    def set_price(self,price):
        self._price=price
laptop=Laptop(3499)
print(laptop.get_price())
laptop.set_price(3999)
print(laptop.get_price())

3499
3999

**IMPORTANT

In [ ]:
class Laptop1:
  def __init__(self,price):
    self.price=price
  def get_price(self):
    return self.price
  def set_price(self,value):
    if not isinstance(value,(int,float)):
      raise TypeError('Value must be int or float')
    print(self.value)
laptop1=Laptop1(3400)
print(laptop1.get_price())
#laptop1.set_price('hi')
#print(laptop1.get_price()) OR
try:
  laptop1.set_price('hi')
except TypeError as error:
  print(error)

3400
Value must be int or float

#Python @property decorator
property(fget,fset,fdel,doc)

#fget()

In [ ]:
class Person:
    def __init__(self,first_name):
        self._first_name=first_name
    def get_first_name(self):
        return self._first_name
    first_name=property(fget=get_first_name)
person=Person('John')
print(person.first_name)

#fget(),fset()

In [ ]:
class Person:
  def __init__(self,first_name):
    self._first_name=first_name
  def get_first_name(self):
    return self._first_name
  def set_first_name(self,name):
     self._first_name=name
  first_name=property(fget=get_first_name,fset=set_first_name)
person=Person('John')
print(person.first_name)
person.set_first_name('Mike')
print(person.first_name)

John
Mike

#fget(),fset(),fdel()

In [ ]:
class Person:
  def __init__(self,first_name):
    self._first_name=first_name
  def get_first_name(self):
    return self._first_name
  def set_first_name(self,name):
     self._first_name=name
  def del_first_name(self):
    del self._first_name
  first_name=property(fget=get_first_name,fset=set_first_name,fdel=del_first_name)
person=Person('John')
print(person.first_name)
print(person.__dict__)
person.set_first_name('Mike')
print(person.first_name)
print(person.__dict__)
person.del_first_name()
print(person.__dict__)
#print(person.first_name)

John
{'_first_name': 'John'}
Mike
{'_first_name': 'Mike'}
{}

In [ ]:
class Person1:
  def __init__(self,first_name,last_name):
    self._first_name=first_name
    self._last_name=last_name
  def get_first_name(self):
    return self._first_name
  def get_last_name(self):
    return self._last_name
  def set_first_name(self,value):
    self._first_name=value 
  def set_last_name(self,value):
    self._last_name=value 
  first_name=property(fget=get_first_name,fset=set_first_name)
  last_name=property(fget=get_last_name,fset=set_last_name)
person1=Person1('John','Doe')
print(person1.first_name)
print(person1.last_name)
person1.set_first_name('Yusra')
person1.set_last_name('khalil')
print(person1.first_name)
print(person1.last_name)
print(person1.__dict__)

John
Doe
Yusra
khalil
{'_first_name': 'Yusra', '_last_name': 'khalil'}

In [ ]:
class Pet:
  def __init__(self,name1):
    self.name1=name1
  def name(self):
    return self.name1
  name_1=property(fget=name)
pet=Pet('Tommy')
print(pet.name_1)
print(pet.__dict__)

Tommy
{'name1': 'Tommy'}

#OR

In [ ]:
class Pet:
  def __init__(self,name1,age):
    self.name1=name1
    self.age=age
  @property
  def name(self):
    return self.name1
  def age(self):
    return self.age
  
pet=Pet('Max',3)
#print(pet.name_1)
print(pet.__dict__)

{'name1': 'Max', 'age': 3}

In [ ]:
class Pet:
  def __init__(self,name1):
    self.name1=name1
  @property
  def name(self):
    return self.name1
  def set_name(self,value):
    self.name1=value
  
pet=Pet('Max')
pet.set_name('Tommy')
#print(pet.name_1)
print(pet.__dict__)

{'name1': 'Tommy'}

In [ ]:
class Pet:
  def __init__(self,name1,age):
    self.name1=name1
    self.age=age
  @property
  def name(self):
    return self.name1
  def age(self):
    return self.age
  def set_name_age(self,value1,value2):
    self.name1=value1
    self.age=value2

  
pet=Pet('Max',3)
print(pet.__dict__)
#print(pet.name_1)
pet.set_name_age('Tommy',8)
print(pet.__dict__)

{'name1': 'Max', 'age': 3}
{'name1': 'Tommy', 'age': 8}

In [ ]:
class Pet1:

    def __init__(self, name, age):
        self._name = name
        self._age = age

    @property
    def name(self):
        return self._name

    @name.setter
    def name(self, value):
        self._name = value

    @property
    def age(self):
        return self._age

    @age.setter
    def age(self, value):
        if not isinstance(value,int):
            raise TypeError('The value of age must be type int')
        if not value>0:
          raise ValueError('The value of age must be positive')
        self._age = value

try:
    pet1=Pet1('Max','Tommy')
except TypeError as error:
    print(error)
except ValueError as error:
  print(error)
print(pet1.name,pet1.age)

Max Tommy

In [ ]:
class Pet2:

    def __init__(self, name, age):
        self._name = name
        self.age = age

    @property
    def name(self):
        return self._name

    @name.setter
    def name(self, value):
        self._name = value

    @property
    def age(self):
        return self._age

    @age.setter
    def age(self, value):
        if not isinstance(value, int):
            raise TypeError('The value of age must be of type int.')
        if not value > 0:
            raise ValueError('The value of age must be a positive integer.')
        self._age = value
try:
    pet2 = Pet2('Max','-10')
except TypeError as error:
    print(error)
except ValueError as error:
    print(error)

The value of age must be of type int.

In [ ]:
class TechStack:
 
    def __init__(self, tech_names):
        self._tech_names = tech_names
 
    @property
    def tech_names(self):
        return self._tech_names
 
    @tech_names.setter
    def tech_names(self, value):
        self._tech_names = value
 
    @tech_names.deleter
    def tech_names(self):
        del self._tech_names
 
        
tech_stack = TechStack('python,java,sql')
print(tech_stack.tech_names)
 
tech_stack.tech_names = 'python,sql'
print(tech_stack.tech_names)
 
del tech_stack.tech_names
print(tech_stack.__dict__)

python,java,sql
python,sql
{}


**Implement a class Game that has a property named level (read and modify property, defaults to 0). The value of the level attribute should be an integer in the range [0, 100]. Add validation at the instance creation and attribute modification stage. If the value is not of the int type, report a TypeError with the following message:

'The value of level must be of type int.'

If the value is outside the range [0, 100], set the exceeded boundary value (0 or 100 respectively). Then create a list called games consisting of four instances of the Game class:

games = [Game(), Game(10), Game(-10), Game(120)]
Iterate through the games list and print the value of each instance's level attribute.

Expected result:

0
10
0
100

In [ ]:
class Game:
 
    def __init__(self, level=None):
        self.level = level if level else 0
 
    @property
    def level(self):
        return self._level
 
    @level.setter
    def level(self, value):
        if not isinstance(value, int):
            raise TypeError('The value of level must be of type int.')
        if value < 0:
            self._level = 0
        elif value > 100:
            self._level = 100
        else:
            self._level = value
 
 
games = [Game(), Game(10), Game(-10), Game(120)]
for game in games:
    print(game.level)

In [ ]:
import math
class Circle:
    def __init__(self, radius):
        self.radius = radius
        self._area = None
 
    @property
    def radius(self):
        return self._radius
 
    @radius.setter
    def radius(self, value):
        self._radius = value
        self._area = None
 
    @property
    def area(self):
        if self._area is None:
            self._area = math.pi * self._radius * self._radius
        return self._area
 
 
circle = Circle(3)
print(f'{circle.area:.4f}')

28.2743

In [ ]:
import math


class Circle:
    def __init__(self, radius):
        self.radius = radius
        self._perimeter = None

    @property
    def radius(self):
        return self._radius

    @radius.setter
    def radius(self, value):
        self._radius = value
        self._perimeter = None

    @property
    def perimeter(self):
        if self._perimeter is None:
            self._perimeter = 2* math.pi * self._radius
        return self._perimeter
circle = Circle(3)
print(f'{circle.perimeter:.4f}')

18.8496

In [ ]:
class Rectangle:
    def __init__(self,width,height):
        self.width=width
        self.height=height
    def area(self):
        area=self.width*self.height
        return area
rect=Rectangle(3,4)
print('width:',rect.width,',','height:',rect.height,',','area->',rect.area())

width: 3 , height: 4 , area-> 12

In [ ]:
#Another way
class Rectangle:
 
    def __init__(self, width, height):
        self.width = width
        self.height = height
        self._area = None
 
    @property
    def width(self):
        return self._width
 
    @width.setter
    def width(self, value):
        self._width = value
        self._area = None
 
    @property
    def height(self):
        return self._height
 
    @height.setter
    def height(self, value):
        self._height = value
        self._area = None
 
    @property
    def area(self):
        if self._area is None:
            self._area = self._width * self._height
        return self._area
 
 
rectangle = Rectangle(3, 4)
print(f'width: {rectangle.width}, height: {rectangle.height} -> area: {rectangle.area}')

width: 3, height: 4 -> area: 12

In [ ]:
class Rectangle:

    def __init__(self, width, height):
        self.width = width
        self.height = height
        self._perimeter = None

    @property
    def width(self):
        return self._width

    @width.setter
    def width(self, value):
        self._width = value
        self._perimeter = None

    @property
    def height(self):
        return self._height

    @height.setter
    def height(self, value):
        self._height = value
        self._perimeter = None

    @property
    def perimeter(self):
        if self._perimeter is None:
            self._perimeter = 2*(self._width + self._height)
        return self._perimeter
rect=Rectangle(3,4)
print(f'width: {rect.width}, height: {rect.height} -> perimeter: {rect.perimeter}')

width: 3, height: 4 -> perimeter: 14

In [ ]:
class Person:
 
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname
 
    def __repr__(self):
        #rep='Person(fname=',self.fname,',lname=',self.lname,')'
        return  f"Person(fname='{self.fname}', lname='{self.lname}')"
 
 
person = Person('Anam', 'Khalil')
print(person)

Person(fname='Anam', lname='Khalil')

#classmethod()

In [ ]:
class Person:
    @classmethod
    def show_details(cls):
        print(f"Running from {cls.__name__} class")
Person.show_details()

Running from Person class

#find the number of instances of class using classmethod decorator

In [ ]:
class Person:
  instances=[]
  def __init__(self):
    Person.instances.append(self)
  
  @classmethod
  def count_instances(cls):
    return len(Person.instances)
p1=Person()
p2=Person()
p3=Person()
print(Person.count_instances())

3

In [ ]:
class Person:
 
    instances = []
 
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name
        Person.instances.append(self)
    
    @classmethod
    def count_instances(cls):
        return len(Person.instances)
 
 
person1 = Person('John', 'Doe')
person2 = Person('Mike', 'Smith')
#person3=Person('Yusra','Khalil')
print(Person.count_instances())#instance of Person class
print(person1.count_instances())

2
2

#@staticmethod decorator
(Static methods, much like class methods, are methods that are bound to a class rather than its object.

They do not require a class instance creation. So, they are not dependent on the state of the object.)

In [ ]:
import datetime
class container:
      def __init__(self):
        now=datetime.datetime.now()
        print(now)
c=container()

2021-05-21 16:04:30.920930

In [ ]:
import time
 
 
class Container:

    def get_current_time():
        return time.strftime('%H:%M:%S', time.localtime())
 
    
print(Container.get_current_time())

16:07:18

In [ ]:
#Example 1: Create a static method using staticmethod()
class Mathematics:

    def addNumbers(x, y):
        return x + y

# create addNumbers static method
Mathematics.addNumbers = staticmethod(Mathematics.addNumbers)

print('The sum is:', Mathematics.addNumbers(5, 10))

The sum is: 15

#Inheritance

In [ ]:
class Container:
    pass


class PlasticContainer(Container):
    pass


class MetalContainer(Container):
    pass


class CustomContainer:
    pass
print(issubclass(PlasticContainer,Container))
print(issubclass(MetalContainer,Container))
print(issubclass(CustomContainer,Container))

True
True
False

#MRO(Method resolution Order)-
https://www.educative.io/edpresso/what-is-mro-in-python

In [ ]:
class Container:
    pass


class PlasticContainer(Container):
    pass


class MetalContainer(Container):
    pass


class SmallPlasticContainer(PlasticContainer):
    pass
print(SmallPlasticContainer.mro())

[<class '__main__.SmallPlasticContainer'>, <class '__main__.PlasticContainer'>, <class '__main__.Container'>, <class 'object'>]

#Function used with array:
append()
extend()-to extend all the elements of list to another list
insert()
remove()
pop()
clear()
count()
sort()
reverse()
copy()

In [ ]:
list1=['goa','patna','delhi','mumbai','lucknow','chennai']
print(list1)
list1.remove('patna')#delete a/c to value provided
print(list1)
list1.pop(3)#delete a/c to index number
print(list1)

['goa', 'patna', 'delhi', 'mumbai', 'lucknow', 'chennai']
['goa', 'delhi', 'mumbai', 'lucknow', 'chennai']
['goa', 'delhi', 'mumbai', 'chennai']

In [ ]:
list2=[1,2,3,4,5,6]
print(list2*3)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [ ]:
fruits=["banana","apple","guava","orange","pineapple"]
print(fruits[2:])#display elements excluding 2nd element
print(fruits[:3])#display element including 3rd element
print(fruits[1:4])#it excludes 1st element but includes the 4th element
print(fruits[:-1])#it excludes -1(opposite of what we get while providing positive val)
print(fruits[-1:])#it includes -1
print(fruits[:-2])

['guava', 'orange', 'pineapple']
['banana', 'apple', 'guava']
['apple', 'guava', 'orange']
['banana', 'apple', 'guava', 'orange']
['pineapple']
['banana', 'apple', 'guava']

In [ ]:
multd=[[1,2],[3,4],[5,6],[7,8]]
print(multd)
print(multd[0])
print(multd[3][1])

[[1, 2], [3, 4], [5, 6], [7, 8]]
[1, 2]
8

#File Methods
close(),detach(),fileno(),flush(),isatty(),read(n)->read until 'n' character and if nothing is provided then read till end of file.,readable(),write() etc

#KEYWORDS IN PYTHON

In [ ]:
#assert keyword checks if the condition is true.If the cond is true,nothing will happen.
#If it is false then error is raised.It is used while debugging
assert 5>4
#we can write a msg if an assertion occur
assert 5<4,'5 is greater than 4'

AssertionError: ignored

In [ ]:
#continue & break keyword
for i in range(1,11):#exclude 11
  if i==5:#skips to print i=5
    continue
  print(i)
"""for j in range (1,11):
  if j==6:
    break
  print(j)"""

1
2
3
4
6
7
8
9
10

'for j in range (1,11):\n  if j==6:\n    break\n  print(j)'

In [ ]:
x=int(input("Enter number: "))
if x==1:
  print("one")
elif x==2:
  print("two")
else:
  print("other number")

Enter number: 11
other number

In [ ]:
#while defining anonymous function we use lambda keyword
a=lambda x:x*2
for i in range(1,6):
  print(a(i))

2
4
6
8
10

In [ ]:
def outer_f():
  a=5
  def inner_f1():
    nonlocal a
    a=4
    print(a)
  def inner_f2():
    nonlocal a
    a=6
  inner_f1()
  inner_f2()
  print(a)
outer_f()

4
6

#TUPLES
tuples are mostly used to store heterogenous data and it is immutable that's why iterating through tuple is faster.Tuples that contain immutable data can be used as a key for dict.

**function of tuple -->
all(),any(),enumerate(),sorted(),tuple(),min(),max(),sum(),len()

In [7]:
tuple1=(1,2,4,3,0)
print(sorted(tuple1))
print(sum(tuple1))
print(min(tuple1))
print(max(tuple1))
#print(enumerate(tuple1))

[0, 1, 2, 3, 4]
10
0
4
<enumerate object at 0x7f099e46d050>

In [16]:
#nesting of tuple
tuple2=([1,2,3],(4,5,6),"yusra")
print(tuple2)
print(tuple2[2][3])#r
print(tuple2[0][2])#3

#tuple packing(declaring tuple without paranthesis)
tuple3="yusra","anam",22,19
print(tuple3)
#tuple unpacking i.e extract the values back into variables
prsn1,prsn2,age1,age2=tuple3
print(prsn1)
print(prsn2)
print(age1)
print(age2)
print(type(tuple3))

([1, 2, 3], (4, 5, 6), 'yusra')
r
3
('yusra', 'anam', 22, 19)
yusra
anam
22
19
<class 'tuple'>

In [17]:
#we can reassign a tuple but can't change data of already assign tuple
tup1=(1,2,3,4,5,6,7)
#tup1[2]=10#error
print(tup1)
tup1=("anam","faraz","yumna")
print(tup1)

(1, 2, 3, 4, 5, 6, 7)
('anam', 'faraz', 'yumna')

In [27]:
#deletion of tuple
#we cannot delete a particular element of tuple but can del the whole tuple
tup_1=(1,2,3,4,6,8)
#del tup_1[4] #error

del tup_1
#print(tup_1)

In [24]:
#count and index func
tup__1=('w','e','l','c','o','m','e')
print(tup__1.count('e'))
print(tup__1.index('w'))

#iterating through tuple
for letters in tup__1:
  print("letters in tuple is ->",letters)

2
0
letters in tuple is -> w
letters in tuple is -> e
letters in tuple is -> l
letters in tuple is -> c
letters in tuple is -> o
letters in tuple is -> m
letters in tuple is -> e

#SETS
they are unordered collection of unique items.no duplicate items are allowed.Sets are used to do mathematical operation like union ,intersection,symmetric difference etc.

**Function on sets:
add(),clear(),copy(),difference(),discard(),intersection(),isdisjoint(),issubset()

In [32]:
set1={1,2,4,4}
print(set1)
set2=set1
print(set2)
#set cannot contain mutable items
#set3={1,2,3,[6,7]}#error
#print(set3)

{1, 2, 4}
{1, 2, 4}

In [35]:
#we can make list from a set
my_list=list({1,2,3,4})
print(type(my_list))
#we can make set from a list
set__1=set([1,2,3,4])
print(type(set__1))

<class 'list'>
<class 'set'>

In [41]:
#func on set
#add element to set
set01={2,3,4,5,6}
set01.add(10)
print(set01)
#add multiple elements
set01.update([9,11,12])
print(set01)
#add list and set both
set01.update({13,14,15},[16,17,18])
print(set01)
set01.discard(6) #discard an element which is not present then no error
#set01.remove(6) #remove an element which is not present then key error raised

{2, 3, 4, 5, 6, 10}
{2, 3, 4, 5, 6, 9, 10, 11, 12}
{2, 3, 4, 5, 6, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18}

#Mathematical operation set
union(|)(for combining all elements),
intersection(&)(for common elements

In [53]:
#use - operator for set difference
set_01={1,2,3,4,5}
set_02={4,5,6,7,8}
print(set_01-set_02)#4&5 will be removed as it is present in set_02 also
print(set_02-set_01)#or print(set_02.difference(set_01))
print(set_02|set_01)#union print(set_01.union(set_02))
print(set_02&set_01)#intersection or print(set_01.intersection(set_02))
print(set_01.symmetric_difference(set_02))#removes the common elements

{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3, 6, 7, 8}

In [50]:
#iterating through set
for letters in set("welcome"):
  print(letters)

e
l
m
c
w
o

In [52]:
#sorted() function take the elements of set ,sort them and assign it to a list and return it
set_03={33,55,22,11,99,111,102}
print(sorted(set_03))

[11, 22, 33, 55, 99, 102, 111]

In [ ]:
#python frozenset